/*typography*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap');

/*---------*/

/*color scheme*/
:root{
--primary-color-light:#cfb495;
--secondary-color-light:#f5cdaa;
--background-color-light-primary:#758184;
--background-color-light-secondary:#5d5b6a;
--primary-color-dark:#ff1e56;
--secondary-color-dark:#ffac41;
--background-color-dark-primary:#222831;
--background-color-dark-secondary:#000;
--shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

/*---------*/

/*light theme*/
.light-theme{
--primary:var(--primary-color-light);
--secondary:var(--secondary-color-light);
--background-primary:var(--background-color-light-primary);
--background-secondary:var(--background-color-light-secondary);
}

/*---------*/

/*dark theme*/
.dark-theme{
--primary:var(--primary-color-dark);
--secondary:var(--secondary-color-dark);
--background-primary:var(--background-color-dark-primary);
--background-secondary:var(--background-color-dark-secondary);
}

/*---------*/


body{
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--background-primary);
    color: #fff
}

h1, h2, h3, h4, h5, h6{
    font-family: 'JetBrains Mono', monospace;
    color:var(--primary);
    
}



nav {
background-color: var(--background-secondary) !important;
box-shadow: var(--shadow);
opacity: 0.6;
}


a{ 
    color:#fff !important;
    
}

.btn-branding{
    background:var(--background-secondary) !important;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100px;
    box-shadow: var(--shadow);
   
}

a:hover{ color:var(--primary) !important;
}
.hero h1{
font-size: 5rem;
}

.hero h2{
font-size: 3rem;
}

.hero h3{
    font-family: 'Source Sans Pro', sans-serif;
}


@media (max-width:568px){
    .hero h1{
        font-size: 3rem;
        }
        
        .hero h2{
        font-size: 1rem;
        }

}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: var(--shadow);
    width: 60%;
    transform: rotate(-4deg);
  }
  .polaroid > img{
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
    color:var(--primary);
  }